In [96]:
%matplotlib inline
from PIL import Image
import pandas as pd
import numpy as np
import tensorflow as tf
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import cross_val_score
import matplotlib.image as image
import cv2
from os import listdir

In [97]:
with open("data/video_0_resized") as file_name:
    array = np.loadtxt(file_name, delimiter="\n\r")

print(array)

ValueError: could not convert string to float: ',image'

In [181]:
video_0df = pd.read_csv('data/video_0_resized',index_col='Unnamed: 0')
video_1df = pd.read_csv('data/video_1_resized')
video_2df = pd.read_csv('data/video_2_resized')
video_0df['image'][1]

'[[[103 235 222]\r\n  [ 65 176 233]\r\n  [ 46 197 246]\r\n  ...\r\n  [  0 150 255]\r\n  [  0 150 255]\r\n  [  0 151 255]]\r\n\r\n [[126 232 228]\r\n  [ 70 180 223]\r\n  [ 53 211 251]\r\n  ...\r\n  [  0 150 255]\r\n  [  0 150 255]\r\n  [  0 150 255]]\r\n\r\n [[ 96 200 213]\r\n  [ 99 202 235]\r\n  [ 36 192 233]\r\n  ...\r\n  [  0 150 255]\r\n  [  1 149 255]\r\n  [  0 148 254]]\r\n\r\n ...\r\n\r\n [[ 33  61  67]\r\n  [ 68  80  70]\r\n  [ 26  55  74]\r\n  ...\r\n  [  3 168 230]\r\n  [  3 146 206]\r\n  [ 11 126 187]]\r\n\r\n [[ 27  63  66]\r\n  [ 64  79  75]\r\n  [ 22  58  72]\r\n  ...\r\n  [  7 196 242]\r\n  [  6 159 220]\r\n  [  7 139 189]]\r\n\r\n [[ 29  72  74]\r\n  [ 49  66  72]\r\n  [ 23  60  72]\r\n  ...\r\n  [ 19 215 252]\r\n  [  2 148 217]\r\n  [  3 143 187]]]'

In [182]:
for image2 in video_0df.index:
    video_0df['image'][image2] = video_0df['image'][image2].replace('\n',"")
    video_0df['image'][image2] = video_0df['image'][image2].replace('\r',"")
    video_0df['image'][image2] = video_0df['image'][image2].replace('...','')
    video_0df['image'][image2] = video_0df['image'][image2].replace('[','')
    video_0df['image'][image2] = video_0df['image'][image2].replace(']','')
    video_0df['image'][image2] = video_0df['image'][image2].split()
    video_0df['image'][image2] = list(video_0df['image'][image2])

video_0df.head()

                                               image
0  [102, 230, 212, 140, 211, 229, 76, 228, 252, 0...
1  [103, 235, 222, 65, 176, 233, 46, 197, 246, 0,...
2  [35, 154, 204, 22, 152, 198, 22, 152, 198, 0, ...
3  [14, 164, 223, 0, 184, 241, 15, 162, 232, 1, 1...
4  [3, 152, 224, 3, 181, 225, 4, 188, 229, 0, 120...

In [183]:
for image2 in video_0df['image']:
    for item in range(0, len(image2)):
        image2[item] = int(image2[item])

In [184]:
len(video_0df['image'][1])
N=3
for image2 in video_0df.index:
    fill = 100
    tempList = video_0df['image'][image2] + [fill] * N
    list_of_lists = [tempList[n:n+N] for n in range(0, len(tempList), N)]
    video_0df['image'][image2] = list_of_lists
    video_0df['image'][image2] = np.array(video_0df['image'][image2])
    video_0df['image'][image2] = video_0df['image'][image2].flatten()

In [185]:
# combing data for modling
train_data = pd.read_csv('train.csv')
train_data
print(len(video_0df))

video_0_train = train_data.drop(list(range(6708,23501)))
train0_df = pd.merge(video_0df, video_0_train, left_index=True, right_index=True)
train0_df = train0_df.drop('video_id',axis=1)
train0_df

6708

,image,sequence,video_frame,sequence_frame,image_id,annotations
0,"[102, 230, 212, 140, 211, 229, 76, 228, 252, 0...",40258,0,0,0-0,[]
1,"[103, 235, 222, 65, 176, 233, 46, 197, 246, 0,...",40258,1,1,0-1,[]
2,"[35, 154, 204, 22, 152, 198, 22, 152, 198, 0, ...",40258,2,2,0-2,[]
3,"[14, 164, 223, 0, 184, 241, 15, 162, 232, 1, 1...",40258,3,3,0-3,[]
4,"[3, 152, 224, 3, 181, 225, 4, 188, 229, 0, 120...",40258,4,4,0-4,[]
...,...,...,...,...,...,...
6703,"[92, 185, 254, 92, 185, 254, 92, 186, 254, 54,...",996,12343,918,0-12343,[]
6704,"[95, 182, 251, 96, 183, 252, 96, 183, 252, 51,...",996,12344,919,0-12344,[]
6705,"[6, 146, 200, 0, 140, 194, 4, 143, 201, 0, 122...",996,12345,920,0-12345,[]
6706,"[5, 140, 201, 0, 140, 202, 8, 143, 209, 0, 122...",996,12346,921,0-12346,[]
6707,"[7, 158, 221, 7, 146, 224, 8, 149, 238, 0, 120...",996,12347,922,0-12347,[]

In [186]:
# chaning the annotations to yes or no's
yes_fish = 1
no_fish = 0
for frame in train0_df.index:
    if len(train0_df['annotations'][frame]) == 2:
        train0_df['annotations'][frame] = no_fish
    else:
        train0_df['annotations'][frame] = yes_fish

train0_df.head()

<ipython-input-186-3fb1a2de3d81>:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  train0_df['annotations'][frame] = no_fish
<ipython-input-186-3fb1a2de3d81>:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  train0_df['annotations'][frame] = yes_fish

,image,sequence,video_frame,sequence_frame,image_id,annotations
0,"[102, 230, 212, 140, 211, 229, 76, 228, 252, 0...",40258,0,0,0-0,0
1,"[103, 235, 222, 65, 176, 233, 46, 197, 246, 0,...",40258,1,1,0-1,0
2,"[35, 154, 204, 22, 152, 198, 22, 152, 198, 0, ...",40258,2,2,0-2,0
3,"[14, 164, 223, 0, 184, 241, 15, 162, 232, 1, 1...",40258,3,3,0-3,0
4,"[3, 152, 224, 3, 181, 225, 4, 188, 229, 0, 120...",40258,4,4,0-4,0

In [188]:
train0_df.explode('image')

     image  sequence  video_frame  sequence_frame image_id annotations
0      102     40258            0               0      0-0           0
0      230     40258            0               0      0-0           0
0      212     40258            0               0      0-0           0
0      140     40258            0               0      0-0           0
0      211     40258            0               0      0-0           0
...    ...       ...          ...             ...      ...         ...
6707   181       996        12347             922  0-12347           0
6707   175       996        12347             922  0-12347           0
6707   100       996        12347             922  0-12347           0
6707   100       996        12347             922  0-12347           0
6707   100       996        12347             922  0-12347           0

[744588 rows x 6 columns]

In [199]:
X = pd.DataFrame(np.stack(train0_df['image']))

In [208]:
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split
model = LogisticRegression(random_state=777)
#X = train0_df.drop(labels=['annotations','image_id'],axis=1)
#X = X.to_numpy()
y = train0_df['annotations'].astype(int)

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.33, random_state=777)
X.shape

(6708, 111)

In [209]:
model.fit(X_train, y_train)

D:\Anaconda\envs\learn-env\lib\site-packages\sklearn\linear_model\_logistic.py:762: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

LogisticRegression(random_state=777)

In [210]:
model.score(X_test,y_test)

0.6698283649503162